*:focus{
    outline:0;
}

h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

form{
    display: flex;
    flex-wrap: nowrap;
    line-height: 16px;

    margin: 10px 0;
    border-radius: 5px;

    transition: all 0.3s ease-in-out;

}

.label{
    line-height: 25px;
    font-size: 20px;
    padding: 5px;
    border: solid #1BE3D2 1px;
    border-radius: 5px 0 0 5px;
    background: #1BE3D2;
    color: #fff;

    flex-basis: auto;

}

#addMessage{
    font-family: "Segoe UI", sans-serif;
    flex-grow: 1;
    font-size: 125%;
    border: solid #1BE3D2 1px;

}

#changeName{
    font-family: "Segoe UI", sans-serif;
    font-size: 125%;

    flex-grow: 1;
    border: solid #1BE3D2 1px;

}



.focused{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(21,179,165,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(21,179,165,1);
    box-shadow: 0px 0px 10px 0px rgba(21,179,165,1);

}

/*.focusedField{*/
/*    outline: #00EBDB solid 1px;*/

/*}*/

.button{
    cursor: pointer;
    font-size: 20px;
    padding: 0 5px;
    background: #1BE3D2;
    color: #fff;
    border: solid #1BE3D2 1px;
    border-radius: 0 5px 5px 0;

}

.button:hover{
    background-color: #71CCBD;
    border-color: #71CCBD;

}

.button:active{
    background-color: #5BA699;
    border-color: #5BA699;

}

#roomButtons{
    display: flex;
    justify-content: center;
}

#roomButtons button{
    display: flex;
    padding: 10px;
    margin: 0 7px;
    background-color: #1BE3D2;
    color: #fff;

    border:none;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
    box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);

}

#roomButtons button:hover{
    background-color: #71CCBD;
    cursor: pointer;

}

#roomButtons button:active{
    background-color: #5BA699;
    border-color: #5BA699;

}

.pressed{
    background-color: #71CCBD !important;
}

.chat li{
    padding: 10px;
    border: solid #35B4F0 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat li:hover{
    color: #fff;
    background-color: #386AE8;
    border-color: #386AE8;
    -webkit-box-shadow: 0 0 20px 0 rgba(17,17,17,0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(17,17,17,0.7);
    box-shadow: 0 0 20px 0 rgba(17,17,17,0.7);
}

.chatSelected{
    color: #fff;
    background-color: #386AE8;
    -webkit-box-shadow: 0 0 20px 0 rgba(17,17,17,0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(17,17,17,0.7);
    box-shadow: 0 0 20px 0 rgba(17,17,17,0.7);
}

.chat li:hover *{
    color: #fff;
}

.date{
    margin:0;
    padding:0 !important;
    color: grey;
    font-size: 70%;
}

.name{
    font-size: 110%;
    font-weight: bold;
}

.d-none{
    display:none;
}

#sideBar{
    background-color: #fff;
    border-radius: 5px;
    min-height: 200px;
    height: auto;
    width: 180px;
    padding: 15px;
    position: fixed;
    left: 1.5%;
    top: 35%;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
    box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
}

#sideBar button{
    display: flex;
    padding: 10px;
    margin: 0 10px;
    background-color: #1BE3D2;
    color: #fff;
    margin-bottom: 10px;

    border:none;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
    box-shadow: 0px 0px 10px 0px rgba(214,214,214,1);
}

#sideBar button:hover {

    background-color: #71CCBD;
    cursor: pointer;
}

#sideBar button:active{
    background-color: #5BA699;
    border-color: #5BA699;

}

#rooms div{
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 0;
    padding-bottom: 0;

}

@media screen and (max-width: 1300px){
    #sideBar{
        display:none;
    }
    header{
        height: 55px;
    }
}
